/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 50%;
  }
  .field-not-checked{
    color: black;
  }
  .field-checked{
    color: green;
  }
  .scrollable {
    overflow:scroll;
    width:100%;
  }